/* 主要導航項目樣式 */
@use 'reset';
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    height: 80px;

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-left: 30px;

        a {
            text-decoration: none;
            background: linear-gradient(to right, #FF5733 0%, #FFFFFF 54%,); 
            background-clip: text;
            -webkit-background-clip: text; /* 限制背景裁剪範圍到文字 */
            -webkit-text-fill-color: transparent; /* 將文字設置為透明，顯示背景 */
            font-size: 28px;
            transition: background 0.3s ease;

            font-family: 'Noto Sans', sans-serif;
        font-weight: 900;
        font-style: italic;

     
            
        }
    }

    .nav-links {
        list-style: none;
        display: flex;
         margin-right: 70px;
         gap: 50px;

        li {
            margin: 0 15px;

            a {
                text-decoration: none;
                color: #B0B0B0;
                font-size: 22px;
                transition: color 0.3s ease;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }
        .login-links li a{
            color: #1ED1FF;
            font-size: 18px;
            &:hover {
                color: #9dcfdb;
            }
            
        }
        .login-links{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .menu-toggle {
        display: none; /* 隱藏在桌面端 */
        flex-direction: column;
        cursor: pointer;

        span {
            background-color: #FFFFFF;
            height: 3px;
            width: 25px;
            margin: 3px 0;
            transition: all 0.3s ease;
        }
    }

    /* 手機端樣式 */
    @media (max-width: 768px) {
        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #000;
            width: 100%;
            text-align: center;



            li {
                margin: 15px 0;
            }
        }

        .menu-toggle {
            display: flex;
        }

        .nav-links.active {
            display: flex;
        }
    }
}
